<?php
$connections['servicing'] = array( 'driver'=>'mysql',
                                'dbhost'=>'localhost',
                                'dbname'=>'database',
                                'dbuser'=>'user',
                                'dbpassword'=>'password');
 ?>
